In [142]:
from __future__ import division, unicode_literals 
import pandas as pd
from urllib import parse, request
import json
from json import loads
import psycopg2 
from sqlalchemy import create_engine, text
import pysolr
import math
from textblob import TextBlob as tb



def Sales_Reviews(category,month):
        # AsterixDBConnection
    class QueryResponse:
        def __init__(self, raw_response):
            self._json = loads(raw_response)

            self.requestID = self._json['requestID'] if 'requestID' in self._json else None
            self.clientContextID = self._json['clientContextID'] if 'clientContextID' in self._json else None
            self.signature = self._json['signature'] if 'signature' in self._json else None
            self.results = self._json['results'] if 'results' in self. _json else None
            self.metrics = self._json['metrics'] if 'metrics' in self._json else None

    class AsterixConnection:
        def __init__(self, server = 'http://45.79.91.219', port = 19002):
            self._server = server
            self._port = port
            self._url_base = self._server +':'+ str(port)

        def query(self, statement, pretty=False, client_context_id=None):
            endpoint = '/query/service'

            url = self._url_base + endpoint

            payload = {
                'statement': statement,
                'pretty': pretty
            }

            if client_context_id:
                payload['client_context_id'] = client_context_id

            data = parse.urlencode(payload).encode("utf-8")
            req = request.Request(url, data)
            response = request.urlopen(req).read()

            return QueryResponse(response)
        
    asterix_conn = AsterixConnection()
    axquery = '''
        use bookstore_dp;
        SELECT * from ClassificationInfo where classification LIKE "%{0}%";'''.format(category)
    

    
    response = asterix_conn.query(axquery)

   
    
    df=pd.DataFrame(response.results)
    node_id=[]
    for i in range(df.shape[0]):
        a=df.ClassificationInfo[i]['nodeID']
        node_id.append(a)
    node_id=[str(x) for x in node_id]
    node_id=set(node_id)
    conn_string = "host='45.79.91.219' dbname='MyBookStore' user='postgres' password=''"
    print ("Connecting to database\n	->%s"% (conn_string))
    conn = psycopg2.connect(conn_string)
    cursor = conn.cursor()
    print ("Connected!\n")
    sql="SELECT DISTINCT o.productid, o.billdate, o.numunits, p.asin,p.nodeid\
        FROM orderlines o, products p\
        WHERE o.productid=p.productid\
        AND EXTRACT(month from billdate)={0};".format(month)
    cursor.execute(sql)

    # retrieve the records from the database
    records = cursor.fetchall()
    colnames = [desc[0] for desc in cursor.description]
    df1=pd.DataFrame(records, columns=colnames)
    df2=df1[df1['nodeid'].isin(node_id)]
    df3=df2.groupby(['billdate','productid','asin','nodeid'],as_index=False)['numunits'].sum()
    my_asin=df3['asin']
    my_asin=set(my_asin)
    asin_str= ', '.join(my_asin)
    
    def solrWrap(core,params):
    
        query_string='http://45.79.91.219:8983/solr/'+core+'/select?' # connecting to our linode server
        for key in params:
            query_string=query_string+key+'='+params[key]+'&'
            #print (query_string)
        solrcon = pysolr.Solr(query_string, timeout=10)
        results = solrcon.search('*:*')
        docs=pd.DataFrame(results.docs)
        return docs
    d3 = {'q': 'asin:(%s)'%asin_str , 'rows': '77165'}
    d_res3=solrWrap('bookstore',d3)
    polarity_measure=[]
    for i in range(d_res3.shape[0]):
        str1 = str(d_res3.reviewText[i])
        blob=tb(str1)
        polarity_measure.append(blob.sentiment.polarity)
    
    se = pd.Series(polarity_measure)
    d_res3['Sentiment_polarity'] = se.values
    d_res3['asin']=d_res3['asin_str'].apply(lambda x:''+str(x)[2:-2]+'')
    df_sentiment=d_res3.groupby(['asin'],as_index=False)['Sentiment_polarity'].mean()
    result=pd.merge(df3, df_sentiment, on='asin', how='inner')
    final_result=result.reset_index().to_json(orient='records')
    return result

In [143]:
result = Sales_Reviews('Education',3)

Connecting to database
	->host='45.79.91.219' dbname='MyBookStore' user='postgres' password=''
Connected!

In [144]:
result

,billdate,productid,asin,nodeid,numunits,Sentiment_polarity
0,2011-03-01,11083,0005126207,7009083011,1,0.195136
1,2011-03-02,11083,0005126207,7009083011,1,0.195136
2,2011-03-03,11083,0005126207,7009083011,1,0.195136
3,2011-03-04,11083,0005126207,7009083011,1,0.195136
4,2011-03-07,11083,0005126207,7009083011,1,0.195136
5,2011-03-09,11083,0005126207,7009083011,1,0.195136
6,2011-03-11,11083,0005126207,7009083011,1,0.195136
7,2011-03-15,11083,0005126207,7009083011,1,0.195136
8,2011-03-16,11083,0005126207,7009083011,3,0.195136
9,2011-03-22,11083,0005126207,7009083011,1,0.195136
10,2011-03-23,11083,0005126207,7009083011,1,0.195136
11,2011-03-29,11083,0005126207,7009083011,1,0.195136
12,2011-03-30,11083,0005126207,7009083011,1,0.195136
13,2012-03-08,11067,0005047218,3182,1,0.318498
14,2012-03-22,11067,0005047218,3182,1,0.318498
15,2012-03-23,11067,0005047218,3182,1,0.318498
16,2012-03-28,11067,0005047218,3182,1,0.318498
17,2013-03-14,11067,0005047218,3182,1,0.318498
18,2012-03-10,11082,0005111994,3192,1,0.180278
19,2013-03-29,11082,0005111994,3192,1,0.180278
20,2014-03-07,11082,0005111994,3192,1,0.180278
21,2014-03-11,11082,0005111994,3192,1,0.180278
22,2014-03-12,11082,0005111994,3192,1,0.180278
23,2014-03-14,11082,0005111994,3192,1,0.180278
24,2014-03-21,11082,0005111994,3192,1,0.180278
25,2015-03-04,11082,0005111994,3192,1,0.180278
26,2013-03-26,10704,0002556324,355563011,1,0.258333
27,2014-03-18,10704,0002556324,355563011,1,0.258333
28,2014-03-11,11864,0006547184,8883935011,1,0.169948
29,2015-03-02,12953,0007194420,3048961,1,0.329419
30,2015-03-05,12953,0007194420,3048961,1,0.329419
31,2015-03-10,12953,0007194420,3048961,1,0.329419
32,2015-03-12,12953,0007194420,3048961,1,0.329419
33,2015-03-23,12953,0007194420,3048961,1,0.329419
34,2015-03-24,12953,0007194420,3048961,1,0.329419
35,2015-03-05,12977,0007197756,8975361011,1,-0.062996
36,2015-03-30,12977,0007197756,8975361011,1,-0.062996
37,2015-03-06,12991,0007199058,10633,0,0.256983
38,2015-03-26,12991,0007199058,10633,1,0.256983
39,2015-03-19,12925,0007192428,9221735011,1,0.139158
40,2015-03-19,12966,0007196369,11764643011,1,0.131250
41,2015-03-19,12971,0007196822,69829,1,-0.000678
42,2015-03-19,12973,000719739X,8975358011,0,0.118506
43,2015-03-26,12973,000719739X,8975358011,0,0.118506
44,2015-03-19,13004,0007201109,10680,1,0.257292
45,2015-03-23,12955,0007194609,9205059011,1,0.156667
46,2015-03-26,12978,0007197772,8975362011,1,0.216948
47,2015-03-26,12990,0007198949,69842,0,0.613393
48,2015-03-26,13008,0007201451,8975364011,1,0.232566
49,2015-03-26,13009,0007201486,10687,1,0.217321
50,2015-03-26,13011,0007201710,69849,1,0.347481
51,2016-03-16,12954,0007194463,9205058011,1,0.321431